* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 975px) and (max-width: 4000px) {
  * body {
    background: url("https://d2yoo3qu6vrk5d.cloudfront.net/pulzo-lite/jsons/rushbet/native/BG-DESKTOP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
  }
}
@media (max-width: 767px), only screen and (min-width: 760px) and (max-width: 975px) {
  * body {
    background: url("https://d2yoo3qu6vrk5d.cloudfront.net/pulzo-lite/jsons/rushbet/native/BG-MOBILE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
  }
}
.container {
  display: grid;
  grid-gap: 30px;
  width: 80%;
  text-align: center;
  margin: 20px auto;
  grid-template-columns: 400px;
  grid-template-areas: "containerA " "containerB" "containerC";
}
@media only screen and (min-width: 760px) and (max-width: 975px) {
  .container {
    justify-content: space-evenly;
    grid-template-columns: 450px 400px;
    grid-template-areas: "containerA containerB" "containerC containerC";
  }
}
@media only screen and (min-width: 975px) and (max-width: 4000px) {
  .container {
    justify-content: space-between;
    grid-template-columns: 450px 400px 28rem;
    grid-template-areas: "containerA containerB" "containerC containerC";
  }
}
.containerA {
  grid-area: containerA;
}
.containerA .banner-rushbet {
  text-align: left;
  margin-left: 2rem;
}
.containerA h1 {
  color: #022248;
}
@media only screen and (min-width: 975px) and (max-width: 4000px) {
  .containerA h1 {
    color: #ffffff;
  }
}
.containerA h2,
.containerA h5 {
  color: #ffffff;
}
.containerA input {
  z-index: 3;
  position: absolute;
  margin-top: 17px;
  margin-left: 28px;
  margin-bottom: 15px;
}
.containerA label {
  display: flex;
}
.containerA label .check {
  position: absolute;
  z-index: 2;
}
.containerA .empate {
  display: flex;
  justify-content: center;
}
.containerA .empate .check {
  position: relative;
  margin-top: -10px;
  margin-left: 12px;
  margin-bottom: 15px;
}
.containerA .empate input {
  margin-left: 110px;
}
.containerA .teams {
  display: flex;
  justify-content: space-around;
}
.containerA .teams .check {
  margin-left: 100px;
}
.containerA .teams .team {
  position: relative;
  z-index: 1;
}
.containerA .teams .lanyard {
  position: absolute;
  margin-top: 60px;
  width: 200px;
  height: 65px;
  background-color: #e6b822;
}
.containerA .teams .lanyard span {
  display: grid;
  margin-top: 20px;
  width: 200px;
  color: #022248;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
.containerA .results {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.containerA .results .result {
  background-color: #022248;
  border-radius: 30px;
  width: 100px;
  padding: 1px 12px 1px 12px;
}
.containerB {
  grid-area: containerB;
}
.containerB .calculator {
  display: grid;
  background-color: #022248;
  padding: 15px 50px 25px 50px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  height: 300px;
  gap: 2px;
}
.containerB .calculator :hover {
  background-color: #413204;
}
.containerB .calculator .title {
  display: flex;
  margin-bottom: -20px;
}
.containerB .calculator .title h1 {
  color: #ffffff;
  font-size: 1.4rem;
}
.containerB .calculator .price,
.containerB .calculator .result {
  border-radius: 30px;
  background-color: #ffffff;
  padding: 5px 0 5px 0;
  margin-top: auto;
  margin-bottom: auto;
}
.containerB .calculator .price {
  text-align: center;
}
.containerB .calculator .button1 {
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 30px;
  background-color: #e6b822;
}
.containerB .button2 {
  padding: 15px 50px 25px 50px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  padding: 10px 90px 10px 90px;
  background-color: #e6b822;
}
.containerB .button2 :hover {
  background-color: #413204;
}
.containerC {
  grid-area: containerC;
  display: flex;
  width: auto;
  justify-content: space-between;
}
@media only screen and (min-width: 975px) and (max-width: 4000px) {
  .containerC {
    width: 1650px;
  }
}
.containerC .message {
  display: flex;
  width: 500px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
@media only screen and (min-width: 975px) and (max-width: 4000px) {
  .containerC .message {
    display: inline;
    margin-top: 45px;
    width: auto;
    text-align: left;
  }
}
@media only screen and (min-width: 975px) and (max-width: 4000px) {
  .containerC .coljuegos {
    display: flex;
  }
}
